# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
npm-debug.log*
package-lock.json

# Build
dist/
build/

# DFINITY
.dfx/
.vessel/
*.wasm
.ic-assets.json

# OS / Editor
.DS_Store
.vscode/
.idea/
